.header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1c1c1c;
	padding: 16px;
	position: relative;
}

.nav {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0 320px;
}

.left {
	display: flex;
}

.buttonContainer {
	display: flex;
}

.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.right {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.button {
	display: flex;
	align-items: center;
	color: #8585ad;
	font-family: 'JetBrains Mono', monospace;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	padding: 16px 20px;
	background: transparent;
	border: none;
	cursor: pointer;
	border-radius: 40px;
}

.button:hover {
	color: #b0b0b0;
}

.active {
	color: #f2f2f3;
}

.active + svg {
	fill: #f2f2f3;
}
